.kiwi-img {
    width: 220px;
    height: 205.99px;
}

/* .kawai-kiwi-img {
    width: 581.67px;
    height: 350px;
} */

.kiwi-logo {
    width: 40px;
    height: 30px;
    /* color: red; */
    /* background-color: seagreen; */
}